* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Exo 2', sans-serif;
    background-color: whitesmoke;
}

main {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    padding: 0 30px;
}

h1 {
    color: blueviolet;
    text-align: center;
    margin-top: 20px;
}

h1+div {
    /*1ère div après le h1*/
    color: blueviolet;
    text-align: center;
    font-size: 45px;
}

#about i {
    font-size: xx-large;
    color: blueviolet;
}

#CV a {
    text-decoration: none;
    color: black;
    border: solid 1px #8d8d8d;
    transition-duration: 1s;
}

#CV a:hover {
    background-color: #9198e5;
    color: white;
}

h2 {
    background: url("../img/polygons.jpg") center center;
    opacity: 0.6;
    background-size: cover;
    color: white;
    text-shadow: 2px 1px 2px #333;
    text-align: center;
}

h3 {
    color: blueviolet;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    transition-duration: 1s;
}

h6 {
    color: blueviolet;
    background-color: bisque;
}


#contact a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


#contact a:hover {
    color: blueviolet;
}


footer,
.bg-navbar {
    background: linear-gradient(#e66465, #9198e5);
    box-shadow: 15px 15px 20px rgba(180, 154, 218, 0.5);
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: black;
}


a.navbar-brand {
    font-family: 'Dancing Script', cursive;
    color: whitesmoke;
    font-size: 40px;
    text-shadow: 2px 1px 2px #333;
    transition-duration: 1.5s;
}

a.navbar-brand:hover {
    color: rgb(247, 247, 130);
    font-size: 45px;
}

.nav-link-custom {
    text-decoration: none;
    padding: 10px;
    vertical-align: middle;
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: bolder;
}

a.nav-link-custom:hover {
    transition-duration: 2s;
    color: black;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    box-shadow: 35px 35px 68px 0px rgba(247, 247, 130, 0.5), inset -7px -7px 16px 0px rgba(247, 247, 130, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.side-nav {
    align-self: flex-start;
    margin-right: calc(30px + 1vmin);
    position: sticky;
    top: 20%;
}

#side_nav {
    display: none;
    position: sticky;
    border: 1px solid rgba(51, 51, 51, 0.25);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    box-shadow: 35px 35px 68px 0px rgba(183, 167, 251, 0.5), inset -8px -8px 16px 0px rgba(183, 167, 251, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.side-nav a {
    display: block;
    position: relative;
    color: #8d8d8d;
    text-decoration: none;
    font-size: 20px;
    padding: calc(10px + 1vmin) calc(30px + 1vmin);
    font-weight: 500;
    overflow: hidden;
    transition-duration: 1s;
}

.side-nav a:hover {
    color: black;
}

.side-nav a:nth-child(1) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.side-nav a:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}



.image,
.image-hidden {
    display: flex;
    justify-content: space-around;
}


.glassmorph {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    box-shadow: 35px 35px 68px 0px rgba(183, 167, 251, 0.5), inset -8px -8px 16px 0px rgba(183, 167, 251, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);

}

#top {
    min-height: 500px;
}


#top,
#skills,
#contact {
    background-color: whitesmoke;
}

#realisations {
    background-image: url("../img/expectrum.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#to_top {
    border: 1px solid rgba(51, 51, 51, 0.25);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 35px 35px 68px 0px rgba(183, 167, 251, 0.5), inset -8px -8px 16px 0px rgba(183, 167, 251, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 50px;
    height: 30px;
    font-size: 25px;
    color: #8d8d8d;
    display: none;
    text-align: center;
    justify-content: center;
}

/*jusque 768px > md*/
@media(max-width:768px) {

    .side-nav,
    .image-hidden {
        display: none;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 21px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 15px;
    }

    p {
        font-size: 13px;
    }
}

/*md*/
@media(min-width:769px) {


    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 25px;
    }

    h5 {
        font-size: 21px;
    }

    p {
        font-size: 18px;
    }
}

/*lg*/
@media(min-width:992px) {

    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 34px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 24px;
    }

}